# Vivado projects will all go in here for now
proj/

# Simulation output products
/sim/*/work
work-obj*
/sim/*/vsim.wlf
/sim/*/transcript
perf.data
# Ignore the simulation libraries
/sim/lib

# Random Xilinx detritus
.Xil
transcript
vivado_pid*.str

